<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <script>
            $( document ).ready(function() {
        $.ajax({
              url: "/grafana/getDashboard",
              method: "GET",
              success: function (response) {
                console.log(response);
                for(i=0; i< response.length; i++){

                  // dashbaord test
                  // $('#allgraph').append(`
                  //   <iframe style="width:100%;" src="https://10.4.160.170:3000/d-solo/roHB5Of4k/new-dashboard?orgId=1&from=1679610203792&to=1679631803792&theme=light&panelId=${response[i].id}" width="790" height="340" frameborder="0"></iframe>
                  // `)

                  // dashboard pm test
                  $('#allgraph').append(`
                  <div>
                    <iframe style="width:100%;" src="https://10.4.160.170:3000/d-solo/W5KDrdKnz/node-exporter-for-prometheus-dashboard-based-on-11074?orgId=1&from=1679625403074&to=1679629003074&theme=light&panelId=${response[i].id}" width="390" height="340" frameborder="0"></iframe>
                  </div>
                    `)
                }

                  // $('#cpu_graph').html(`
                  //   <iframe style="width:100%;" src="https://10.4.160.170:3000/d-solo/W5KDrdKnz/node-exporter-for-prometheus-dashboard-based-on-11074?orgId=1&from=1679625403074&to=1679629003074&theme=light&panelId=7" width="790" height="340" frameborder="0"></iframe>
                  // `)
                  // $('#mem_graph').html(`
                  //   <iframe style="width:100%" src="https://10.4.160.170:3000/d-solo/W5KDrdKnz/node-exporter-for-prometheus-dashboard-based-on-11074?orgId=1&from=1679625403074&to=1679629003074&theme=light&panelId=156" width="790" height="340" frameborder="0"></iframe>
                  // `)
                  // $('#disk_graph').html(`
                  //   <iframe style="width:100%" src="https://10.4.160.170:3000/d-solo/W5KDrdKnz/node-exporter-for-prometheus-dashboard-based-on-11074?orgId=1&from=1679625403074&to=1679629003074&theme=light&panelId=168" width="790" height="340" frameborder="0"></iframe>
                  // `)
              },
              error: function (xhr, status, error) {
                console.error(xhr.responseText);
              },
            });
      });
    </script>
  </head>
  <body class="g-sidenav-show bg-gray-100">
    <div class="min-height-300 bg-dark position-absolute w-100"></div>
    <%- include('../partials/sidebar') %>
    <main class="main-content position-relative border-radius-lg">
      <%- include('../partials/nav') %>
      <div class="container-fluid py-4">
        <div class="row mt-4">
          <div class="col-lg mb-lg-0 mb-4">
            <div class="card">
              <div class="card-header pb-0 p-3">
                <div class="d-flex justify-content-between">
                  <div class="row">
                    <div class=" col-2">
                      <a class="btn btn-icon-only btn-rounded btn-outline-dark mb-0 me-3 btn-md d-flex align-items-center justify-content-center" href="/"><i class="ni ni-bold-left" aria-hidden="true"></i></a> 
                    </div>
                    
                    <div class=" col-10">
                      <h4>node-exporter-for-prometheus-dashboard-based-on-1107</h4>               
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-header pb-0 p-3">
                <div class="p-3">
                  <div id="allgraph"></div>
                  <!-- CPU Usage
                  <div id="cpu_graph"></div>
  
                  Memory Usage
                  <div id="mem_graph"></div>
  
                  Disk Usage
                  <div id="disk_graph"></div> -->
  
                </div>
              </div>
            
            </div>
          </div>
        </div>
     

        <script src="/socket.io/socket.io.js"></script>
        <%- include('../partials/footer') %>
      </div>
    </main>
  </body>
</html>
