<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <script>
      let jsonData = {};
      let dataLength = 0;

      $( document ).ready(function() {
        $('#btnAction').attr('disabled',true)
        $.ajax({
          url: "/InfluxDBConfig/ReadFile",
          method: "GET",
          success: function (response) {
            // console.log(response);
            if (response == "empty") {

            } else {

              const jsonObj = JSON.parse(response)
              const myDict = jsonObj;
                let counter = 1;
              for (const [service_name, credentials] of Object.entries(myDict)) {
                $("#table_docker_reunned").append(
                  `
                        <tr>
                            <th scope="row">${counter}</th>
                            <td>${service_name}</td>
                            <td>${ credentials["port"]}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                      ACTIONS
                                    </button>
                                    <ul class="dropdown-menu bg-light">
                                      <li><a class="dropdown-item" id="btnInstall" onclick="RestartContainer('${service_name}'')" href="#">Restart</a></li>
                                      <li><a class="dropdown-item" id="btnInstall" onclick="StopContainer('${service_name}')" href="#">Stop & Remove</a></li>
                                    </ul>
                                </div>  
                            </td>
                        </tr>
                        `
                );
                counter++;
              }
            }
          },
          error: function (xhr, status, error) {
            console.error(xhr.responseText);
          },
        });
      });
    </script>
  </head>
  <body class="g-sidenav-show bg-gray-100">
    <div class="min-height-300 bg-dark position-absolute w-100"></div>
    <%- include('../partials/sidebar') %>
    <main class="main-content position-relative border-radius-lg">
      <%- include('../partials/nav') %>
      <div class="container-fluid py-4">
        <div class="row mt-4">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="card">
              <div class="card-header pb-0 p-3">
                <div class="d-flex justify-content-between">
                  <div class="row">
                    <div class=" col-2">
                      <a class="btn btn-icon-only btn-rounded btn-outline-dark mb-0 me-3 btn-md d-flex align-items-center justify-content-center" href="/"><i class="ni ni-bold-left" aria-hidden="true"></i></a> 
                    </div>
                    <div class="col-3 p-2">
                    
                        <img
                        src="/assets/img/monitor/influxdb.png"
                        width="80"
                        alt=""
                        srcset=""
                      />
                    </div>
                    <div class=" col-7">
                      <h4>InfluxDB Config</h4>
                      Support : Dell Isilon Cluster                   
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive p-3">
                <table class="table align-items-center">
                    <thead>
                        <th>#</th>
                        <th>ServiceName</th>
                        <th>Port</th>
                        <th>Action</th>
                    </thead>
                    <tbody id="table_docker_reunned">
                    </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="card">
              <div class="card-header pb-0 p-3">
                <h6 class="mb-2">Isilon Cluster</h6>
                <div class="btn-group">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      ACTIONS
                    </button>
                    <ul class="dropdown-menu bg-light">
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#AddDatasourceModal"   href="#">Add Datasource</a></li>
                      <li><a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#newGroupModal" href="#">Run InfluxDB</a></li>
                      <!-- <li><a class="dropdown-item" id="btnInstall" onclick="RestartContainer('prometheus')" href="#">Restart InfluxDB</a></li> -->
                    </ul>
                  </div>
                <br>
                      <a href="#" onclick="ReadFileJSON()">
                        <i class="ni ni-bold-right" aria-hidden="true"></i> Open Engineer Mode
                      </a>
              </div>
              <div class="card-body">
                <table class="table table-striped table-hover" id="tableGroup">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Host</th>
                      <th scope="col">Username</th>
                      <th scope="col">Port</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody id="tableBodyHost"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4" id="Console" tabindex="0">
          <div class="col-lg-12 mb-lg-0 mb-4">
            <div class="card">
              <div class="card-header pb-0 p-3 bg-dark">
                <h6 class="mb-2 text-light font-weight-bold">Console</h6>
              </div>
              <div class="card-body" style="background-color: black;">
               <pre class="text-info" id="output"></pre>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="newGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">InfluxDB Config</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="p-3">
                  <div class="row g-3 align-items-center">
                   <table>
                    <tr>
                        <th>Image Name</th>
                        <td><input type="text" value="influxdb:1.8" disabled class="form-control" id="image_name"></td>
                    </tr>
                    <tr>
                        <th>Service Name</th>
                        <td><input type="text" value="influxdb" class="form-control" id="service_name"></td>
                    </tr>
                    <tr>
                        <th>Port</th>
                        <td><input type="text" class="form-control" value="8086" id="port"></td>
                    </tr>
                   </table>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="RunContainer('influxdb:1.8')">Run</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="AddDatasourceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Datasource Config</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="p-3">
                    <div class="row g-3 align-items-center">
                     <table>
                      <tr>
                          <th>Datasource Name</th>
                          <td><input type="text" value="my dataource" class="form-control" id="datasource_name"></td>
                      </tr>
                      <tr>
                          <th>Host Name</th>
                          <td><input type="text" value="http://localhost:8086" class="form-control" id="influx_hostname"></td>
                      </tr>
                      <tr>
                          <th>Database</th>
                          <td><input type="text" class="form-control" value="isi_data_insights" id="datasource_port"></td>
                      </tr>
                     </table>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="AddDatasource('influxdb')">Add</button>
                </div>
              </div>
            </div>
          </div>

        <div class="modal modal-dialog modal-lg fade" id="EngineerMode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Engineer Mode</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="p-3">
                  <div class="row g-3 align-items-center">
                   <textarea class="form-control text-success" style="background-color: black;" name="" id="text_editor" cols="30" rows="20"></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveJsonFileEnMode()" >Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="modal modal-dialog modal-lg fade" id="InfluxdbConfigModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">InfluxDB Config</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="p-3">
                  <div class="row g-3 align-items-center">
                   <textarea class="form-control text-success" style="background-color: black;" name="" id="text_editor_job" cols="30" rows="10"></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveJsonFileEnMode()" >Save</button>
              </div>
            </div>
          </div>
        </div> -->

        <script src="/socket.io/socket.io.js"></script>
        <script>
          var socket = io();
          // function RunPrometheusOnDocker() {
          //   $('#btnInstall').attr('disabled',true)
          //   $('#Console').focus()
          //   $('#output').append('Installing...')
          //   const command='docker run -d --name prometheus  -p 9090:9090 -v $(pwd)/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml prom/prometheus ';
          //   socket.emit('dataCMD', { cmd: command});
          //   socket.on('output', (data) => {
          //       const output = document.getElementById('output');
          //       output.innerHTML += data;
          //   });
          // }

          function RunContainer(container_name) {
            $('#newGroupModal').modal('hide')
            const service_name = $('#service_name').val()
            const port = $('#port').val()

            $('#output').append(`Running Container ${container_name}.. \n`)
            $.ajax({
              url: "/DockerRun",
              method: "POST",
              data:{
                container_name : container_name,
                service_name : service_name+port,
                port : port
                },
              success: function (response) {
                console.log(response);
                $('#output').append(response)

                // $('#table_docker_reunned').append(
                //     `<tr>
                //         <td>${$('#hostip').val()}</td>
                //         <td>${$('#port').val()}</td>
                //         <td>
                //             <button class="btn btn-primary" onclick="CurlExporter('vmware_exporter')">Run</button>
                //         </td>
                //     </tr>`
                // )
                $('#output').append('\nok')
                $.ajax({
                    url: "/InfluxDBConfig/SaveFile",
                    method: "POST",
                    data: {
                      service_name : service_name+port,
                      port : port
                    },
                    success: function (response) {
                        if (response == "ok") {
                        //alert("Ok");
                        Swal.fire({
                            icon: 'success',
                            title: 'InfluxDB is ran.',
                            text: 'Successfully save file influxdb.json.',
                        }).then(()=>{
                            location.reload();
                        })
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    },
                    });

              },
              error: function (xhr, status, error) {
                console.error(xhr.responseText);
                $('#output').append(xhr.responseText)
              },
            });

          }

          function createNewHost(){
            
            let counter = 1;
            $("#tableBodyHost").append(
              `<tr>
                    <td>
                        ${counter}
                    </td>
                    <td>
                        ${$('#hostip').val()}
                    </td>
                    <td>
                        ${$('#username').val()}
                    </td>
                    <td>
                        ${$('#port').val()}
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="RunContainer('vmware_exporter')">Run</button>
                    </td>
                </tr>`
            );
            counter++;
            $('#newGroupModal').modal('hide')
          }

          function addRow() {
            let collectorList = $('#collectorList').val();
            let path = "";
            let port = 0;
            if(collectorList == "linux"){
              path = "/LinuxConfig/ReadFile"
              port = 9100;
            }else if(collectorList == "windows"){
              path = "/WindowsConfig/ReadFile"
              port = 9182;
            }
            $.ajax({
              url: path,
              method: "GET",
              data: { type: "linux" },
              success: function (response) {
                if (response == "empty") {
                  $("#tableHost").html("Host net set.");
                  $("#btnAction").attr("onclick", "saveFile()");
                } else {
                  const toJson = JSON.parse(response);
                  
                  dataLength = Object.keys(toJson).length;
                  
                  $("#table_body").empty()
                  for (i = 0; i < Object.keys(toJson).length; i++) {
                    let key_array = [];
                    key_array.push(toJson[`row${i}`][0]);
                    key_array.push(toJson[`row${i}`][1]);

                    console.log('key_array :'+key_array);

                    jsonData[`row${i}`] = key_array;

                    row++;counter++;
                    $("#table_body").append(
                      `<tr id="row${i}">
                                <td id="row${i}col0">
                                    <input type="text" id="input_row${i}col0" class="form-control" value="${
                        JSON.parse(response)[`row${i}`][0]
                      }">
                                </td>
                                <td id="row${i}col1">
                                    <input type="text" id="input_row${i}col1" class="form-control" value="${
                       port
                      }">
                                </td>
                                <td id="row${i}col3">
                                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" onclick="removeRow(${row})" href="#"><i class="far fa-trash-alt me-2" aria-hidden="true"></i>Remove</a>
                                </td>
                            </tr>`
                    );
                    $("#btnAction").attr("onclick", "saveFile()");
                  }
                }
              },
              error: function (xhr, status, error) {
                console.error(xhr.responseText);
              },
            });
          }

          function ReadFileJSON(){
              $.ajax({
                url: "/InfluxDBConfig/ReadFile",
                method: "GET",
                success: function (response) {
                  if (response == "empty") {

                  } else {
                    $('textarea#text_editor').val(response)
                  }
                },
                error: function (xhr, status, error) {
                  console.error(xhr.responseText);
                },
              });

              $('#EngineerMode').modal('show')
          }

          function saveJsonFileEnMode() {

            let config = $('#text_editor').val()
            console.log(config);
            $.ajax({
              url: "/InfluxDBConfig/EnSaveJsonFile",
              method: "POST",
              data: { cfg: config },
              success: function (response) {
                if (response == "ok") {
                  $('#EngineerMode').modal('hide')
                  //alert("Saved.");
                  Swal.fire({
                    icon: 'success',
                    title: 'Vsphere changes saved.',
                    text: 'Successfully saved to the influxdb.json file.',
                  }).then(()=>{
                    location.reload();
                  })
                }
              },
              error: function (xhr, status, error) {
                console.error(xhr.responseText);
              },
            });
            }

          function RestartContainer(container_name) {
            
            $.ajax({
              url: "/DockerRestart",
              method: "POST",
              data:{container_name : container_name},
              success: function (response) {
                //console.log(response);
                $('#output').append(response)
                Swal.fire({
                    icon: 'success',
                    title: `${container_name} is restarted.`,
                    text: response,
                  }).then(()=>{
                    location.reload();
                  })
              },
              error: function (xhr, status, error) {
                console.error(xhr.responseText);
                $('#output').append(xhr.responseText)
              },
            });
          }

          function StopContainer(container_name) {
            $('#output').append(`${container_name} stopping...`)
            $.ajax({
              url: "/DockerStop",
              method: "POST",
              data:{container_name : container_name},
              success: function (response) {
                //console.log(response);
                $('#output').append(response)
                Swal.fire({
                    icon: 'success',
                    title: `${container_name} is stopped.`,
                    text: response,
                  }).then(()=>{
                    location.reload();
                  })
              },
              error: function (xhr, status, error) {
                console.error(xhr.responseText);
                $('#output').append(xhr.responseText)
              },
            });
          }

          function AddDatasource(datasource_type){
            let datasource_config = JSON.stringify({
                "name": "InfluxDB",
                "type": `${datasource_type}`,
                "url": "http://10.4.160.170:8086",
                "access": "proxy",
                "basicAuth": false,
                "database" : "isi_data_insights"
              });

            var settings = {
              "url": "/AddGrafanaDatasource",
              "method": "POST",
              "timeout": 0,
              "data": {data : datasource_config}
            };

            $.ajax(settings).done(function (response) {
              console.log(response);    
                $('#output').append(response)
                Swal.fire({
                    icon: 'success',
                    title: `New Datasource is added.`,
                    text: "MVISION Datasource DBtype: Prometheus",
                })  
              
            });
          }
        </script>
        <%- include('../partials/footer') %>
      </div>
    </main>
  </body>
</html>
